/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@font-face {
    font-family: 'helveticaneuemedium';
    src: url('../fonts/helveticaneue_medium-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
  font-family: 'Open Sans', sans-serif;
  background: #00bcff;
  /*background: #02111D;
  background: -webkit-linear-gradient(to right, #02111D, #037BB5, #02111D);
  background: linear-gradient(to right, #02111D, #037BB5, #02111D);*/
  font-size: 13px;
  outline: 0;
  box-sizing: border-box;
  font-weight: 300;
}

a, a:visited, a:focus, a:active, :visited, :focus, :active, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: 0;
}

a {
    text-decoration: none;
}
a {
    background-color: transparent;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
/* === 1.3 Headings === */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  clear: both;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0 0 10px;
  font-weight: 600;
  letter-spacing: 1px;
}
h1 {
  font-size: 24px;
  line-height: 30px;
}
h2 {
  font-size: 22px;
  line-height: 30px;
}
h3 {
  font-size: 20px;
  line-height: 25px;
}
h4 {
  font-size: 16px;
  line-height: 22px;
}
h5 {
  font-size: 15px;
  line-height: 20px;
}
h6 {
  font-size: 14px;
  line-height: 20px;
}
p {
  margin-bottom: 5px;
}
/* === 1.4 Paragraph === */
b, strong {
  font-weight: 600;
}
label{
  font-weight: 600;
}
.text-left {
  text-align: left !important;
}
.form-control{
  border: 1px solid #aaa;
  color: #000;
}
input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
    outline: 0;
}
.group-btn .btn:first-child, .btnCustom:first-child{
  margin-left: 10px;

}
.group-btn {
  margin-bottom: 10px;
}
.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.text-white {
  color: #fff !important;
}
/* === 1.5 Other fixes === */
*,
*:before,
*:after {
  margin:0;
  padding: 0;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none
}
.browseupgrade {
  margin: 0.3em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.uppercase {
  text-transform: uppercase;
}
img {
  max-width: 100%;
  height: auto;
}
.checkbox-inline, .radio-inline {
  margin: 0;
}
ul{
  margin:0;
  padding:0;
  list-style: none;
}
.red {
  color: red;
}
.badge-success {
    background-color: #4474E2;
}


p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #333;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.p-3 {
  padding: 15px;
}
.font-weight-bold {
  font-weight: bold;
}
.font-weight-bolder {
  font-weight: 900;
}
.bg-white {
  background: #fff;
}
.custom-btn {
  display: inline-block;
  background: #3498DB;
  color: #fff;
  padding: 12px 30px;
  border-radius: 5px;
  box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
  border: 0;
  min-width: 150px;
}
.custom-btn:hover {
  box-shadow: 0 37px 20px -20px rgba(0, 0, 0, 0.2);
  transform: translate(0, -5px);
}
.custom-btn.btn-sm {
  padding: 5px 10px;
  min-width: initial;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
}
.custom-btn.red {
  background: #FF5733;
}
.fc-center h2 {
  text-transform: capitalize;
}
.bootstrap-datetimepicker-widget {
  display: none !important;
}
.d-none {
  display: none;
}
.d-block {
  display: inline-block;
}
text.highcharts-credits {
  display: none;
}

#flash{
  display : block;
  position : fixed;
  z-index: 100;
  background-image : url('http://loadinggif.com/images/image-selection/3.gif');
  background-color:#000;
  height: 100%;
  width:100%;

  opacity : 0.4;
  background-repeat : no-repeat;
  background-position : center;
  left : 0;
  bottom : 0;
  right : 0;
  top : 0;
}

.ajax-preloader {
  display: block;
  position: fixed;
  z-index: 100;
  background-image: url('http://loadinggif.com/images/image-selection/3.gif');
  background-color: #fff;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}


.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.form-control, .btn {
    border-radius: 0 !important;
}
.navbar-default {
    background: rgba(31, 97, 141, .2) !important;
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.25);
    box-shadow: 0 4px 10px rgba(0,0,0,.25);
    border: 0;
}
.navbar-default .navbar-brand {
    color: #fff;
    transition: .5s;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #3498DB;
}
.page_title i {
    color: #fff;
}
.page_title:hover i {
    color: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}


span#location {
  font-size: 23px;
  position: absolute;
  top: 8px;
  color: #fff;
  margin-left: 15px;
}

/* preloading option start.......................... */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: url(../img/Preloader_2.gif) center no-repeat #fff;
}
/* preloading option end.......................... */

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgba(31, 97, 141, 1);
    color: #fff;
    transition: all 0.3s;
    z-index: 6;
    position: relative;
}
#sidebar.active {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
}
.select-branch .form-control {
    border-radius: 4px !important;
    outline: 0;
}
.select-branch .optionGroup {
    font-weight: 600;
}
.select-branch .child {
    font-size: 12px;
}


#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}
#sidebar .sidebar-header h3 {
    margin: 0;
    color: #fff;
}
#sidebar.active .sidebar-header strong {
    display: block;
}
#sidebar.active .menu-section {
    margin-bottom: 0;
}
#sidebar .menu-section {
    margin-bottom: 15px;
}

.my-profile {
    padding: 15px;
}
#sidebar .my-profile-pic {
    float: left;
}
.my-profile-pic img.img-circle.client-img {
    height: 60px;
}
#sidebar .my-profile-name {
    padding: 20px 0;
    margin-left: 75px;
}
#sidebar .my-profile-name p {
    font-size: 12px;
    color: #fff;
    font-weight: 400;
}
#sidebar.active .my-profile-name {
    padding: 0;
    margin-top: 75px;
    margin-left: 0;
}
#sidebar.active ul.components {
    padding: 0;
}

#sidebar .menu-section.active > a[aria-expanded="true"]{
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}
#sidebar .menu-section.active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}



#sidebar .sidebar-header {
    padding: 20px 0;
    background: #1F618D;
    text-align: center;
    margin-top: 20px;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    font-family: 'helveticaneuemedium';
    padding: 20px 12px 20px 30px;
    font-size: 14px;
    display: block;
    outline: none;
    color: #fff !important;
}
#sidebar ul li a:hover {
    color: #fff;
    background: rgb(68, 116, 226, .2);
}
#sidebar ul li a i {
  margin-right: 10px;
  font-size: 22px;
  line-height: 15px;
}
#sidebar.main-sidebar ul li a i {
  float: right;
}
#sidebar.active ul li a i {
  text-align: center;
}

#sidebar ul li.active > a, #sidebar .menu-section a[aria-expanded="true"] {
    color: #fff;
    position: relative;
}
#sidebar ul li.active > a:after {
    content: '';
    position: absolute;
    background: #4474E2;
    top: 0;
    left: 98%;
    height: 100%;
    width: 5px;
}
#sidebar.active ul li.active > a:after {
    left: 95%;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .menu-section a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .menu-section a[aria-expanded="false"]::before, #sidebar .menu-section a[aria-expanded="true"]::before {
    content: '\f067';
    display: block;
    position: absolute;
    left: 12px;
    top: 20px;
    font-family: 'FontAwesome';
    font-size: 13px;
}
#sidebar .menu-section a[aria-expanded="true"]::before {
    content: '\f068';
}
#sidebar.active .menu-section a[aria-expanded="false"]::before, #sidebar.active .menu-section a[aria-expanded="true"]::before {
 top: 55px;
}
#sidebar ul ul li {
    position: relative;
}
.menu-section ul li a {
  padding: 10px !important;
  margin-left: 25px;
}
#sidebar.active .menu-section ul li a {
  margin-left: 10px;
}
#sidebar ul ul li:before {
    content: '';
    position: absolute;
    background: #ddd;
    top: 0;
    left: 18px;
    width: 1px;
    height: 100%;
    z-index: 1;

}
#sidebar ul ul li:after {
    content: '';
    position: absolute;
    background: #ddd;
    top: 0;
    left: 14px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 12px;
}
#sidebar ul ul li.aactive > a::after {
    content: '';
    position: absolute;
    background: green;
    top: 0;
    left: 16px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-top: 14px;
    z-index: 1;
}
#sidebar.active ul ul li:before {
    left: 13px;
}
#sidebar.active ul ul li:after {
    left: 8px;
}
#sidebar.active ul ul li.aactive > a::after {
    left: 10px;
}

.menu-section .fa-info-circle {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 16px;
}
.popover-content {
    padding: 9px 14px;
    color: #000;
    min-width: 200px;
}

ul ul a {
  font-size: 0.9em !important;
}

@media only screen and (min-width: 991px) {
	#sidebar.active .menu-section ul {
    display: none;
  }
}
@media only screen and (min-width : 992px) {
  .branch-dropdown {
    display: none !important;
  }
}

@media only screen and (max-width : 1199px) {
  .branches-area {
    display: none;
  }
}
@media only screen and (max-width : 767px) {
  #sidebar {
    
  }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
@media only screen and (min-width : 768px) {
  .custome-hamburger {
    display: none;
  }
}
.page_title {
    margin-top: -3px;
}
.page_title i.fa-outdent {
  background: #3498DB;
  padding: 4px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
ul.left-side-hamburger li {
    float: left;
    padding: 0px 10px;
}
li.go-back .navbar-brand {
    border-right: 1px solid #aaa;
}
#sidebar.hide-total {
  display: none;
}
@media only screen and (max-width : 767px) {
  /* hamburger botton style start */
  #nav-toggle {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0
  }
  #nav-toggle:checked~nav#main #nav-container #nav-wrap {
    top: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)
  }
  #nav-toggle:checked+#nav-toggle-label, #nav-toggle:checked+#nav-toggle-label.slide-out {
    background: transparent;
    left: 70px;
  }
  #nav-toggle:checked+#nav-toggle-label #hamburger span, #nav-toggle:checked+#nav-toggle-label.slide-out #hamburger span {
    width: 0%
  }
  #nav-toggle:checked+#nav-toggle-label #hamburger span:nth-child(1), #nav-toggle:checked+#nav-toggle-label.slide-out #hamburger span:nth-child(1) {
    -webkit-transition-delay: 0s;
    transition-delay: 0s
  }
  #nav-toggle:checked+#nav-toggle-label #hamburger span:nth-child(2), #nav-toggle:checked+#nav-toggle-label.slide-out #hamburger span:nth-child(2) {
    -webkit-transition-delay: 0.125s;
    transition-delay: 0.125s
  }
  #nav-toggle:checked+#nav-toggle-label #hamburger span:nth-child(3), #nav-toggle:checked+#nav-toggle-label.slide-out #hamburger span:nth-child(3) {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s
  }
  #nav-toggle:checked+#nav-toggle-label #cross span:nth-child(1), #nav-toggle:checked+#nav-toggle-label.slide-out #cross span:nth-child(1) {
    height: 100%;
    -webkit-transition-delay: 0.625s;
    transition-delay: 0.625s
  }
  #nav-toggle:checked+#nav-toggle-label #cross span:nth-child(2), #nav-toggle:checked+#nav-toggle-label.slide-out #cross span:nth-child(2) {
    width: 100%;
    -webkit-transition-delay: 0.375s;
    transition-delay: 0.375s
  }
  #nav-toggle:checked+#nav-toggle-label~nav#main #nav-container a#logo.slide-out, #nav-toggle:checked+#nav-toggle-label.slide-out~nav#main #nav-container a#logo.slide-out {
    left: 85px
  }
  #nav-toggle-label {
    height: 80px;
    width: 80;
    position: absolute;
    z-index: 7;
    left: 15px;
    top: -15px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out
  }
  #nav-toggle-label.slide-out {
    right: -75px
  }
  #nav-toggle-label #cross {
    position: absolute;
    left: 0;
    top: 28px;
    width: 25px;
    height: 25px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  #nav-toggle-label #cross span {
    display: block;
    background: red;
  }
  #nav-toggle-label #cross span:nth-child(1) {
    height: 0%;
    width: 2px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
  }
  #nav-toggle-label #cross span:nth-child(2) {
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s
  }
  #nav-toggle-label #hamburger {
    position: absolute;
    height: 10px;
    width: 25px;
    top: 32px;
    left: 0;
  }
  #nav-toggle-label #hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    position: relative;
    margin: 0 0 6px 0;
    background: #888;
  }
  #nav-toggle-label #hamburger span:nth-child(1) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s
  }
  #nav-toggle-label #hamburger span:nth-child(2) {
    -webkit-transition-delay: 0.625s;
    transition-delay: 0.625s
  }
  #nav-toggle-label #hamburger span:nth-child(3) {
    -webkit-transition-delay: 0.75s;
    transition-delay: 0.75s
  }
  /* hamburger botton style end */
  .navbar-brand .page_title {
      margin-left: 35px;
  }
}
.schedule-branch {
    float: left;
    margin: 8px 12px;
}
/* branch sub-branch select start */
.main-menu-nav {
  position: relative;
  border-radius: 0;
}
.branches-area {
    position: absolute;
    right: 250px;
}
.branch-area label {
    color: #fff;
}
select#parent_brance_all, select#sbranch, #sbbbracnch select {
    border-radius: 4px !important;
}
#sbbbracnch select {
  margin-left: 8px;
  font-weight: normal !important;
}
/* branch sub-branch select end */
/* top navbar start */
.main-menu-right-side .client-img {
    margin: 4px 0 0 4px;
}
/* top navbar end */
.main-content {
    margin-bottom: 40px;
    clear: both;
}
#content {
    min-height: 100vh;
    transition: all 0.3s;
    width: 100%;
}
.top-nav  ,.form_heading {
    float: left;
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
    margin-bottom: 10px;
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .branch-area, .sub-branch-area, .sub-sub-branch-area {
        margin-top: 4px;
        margin-left: 10px;
    }
}
.page-info h3 {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    display: inline;

}
.client-log-info img.client-img {
    float: left;
    margin: 6px -10px 0 10px;
    z-index: 1;
    position: relative;
}
.page-info{
    margin-top: 10px;
}
.message-info {
    float: right;
    margin-top: 12px;
    margin-right: 25px;
    position: relative;
}
.message-info .fa-envelope {
    font-size: 16px;
}
.message-info .badge {
    position: absolute;
    bottom: 6px;
    left: 10px;
    font-size: 10px;
    padding: 3px 5px;
}
.notify-message {
    cursor: pointer;
}



.notify-area {
  position: relative;
}
.notify-area i.fa {
    font-size: 18px;
}
.notify-area .badge.badge-danger {
  background: #ff6c60;
  padding: 2px 5px;
  position: absolute;
  top: -5px;
  left: 10px;
}
.notify-container {
    width: 350px;
}
.drop-title {
  display: block;
  border-bottom: 1px solid #F3F3F3;
  font-size: 14px;
  background: #fff;
  padding: 12px;
  color: #6a6a6a;
  margin: 0;
}
.notify-container .media {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.notify-container .media:hover {
  background-color: #f9fafb;
}
.media-body p {
    line-height: 17px;
}
.notify-container .media.media-new {
  background-color: #edf2fa;
}
.notify-container .media-photo {
  float: left;
  position: relative;
}
.notify-container .media-photo:after {
    position: absolute;
    content: '';
    background: #5cb85c;
    top: 0;
    width: 10px;
    height: 10px;
    right: 0;
    border-radius: 50%;
    border: 2px solid #fff;
}
.media-icon {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
.media-icon:after {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: 'FontAwesome';
}
.media-icon.danger {
    background: #ff6c60;
}
.media-icon.danger:after {
  content: '\f0e7';
}
.media-icon.success {
    background: #5cb85c;
}
.media-icon.success:after {
  content: '\f08a';
}

.notify-container .media-body span.name, .notify-container .media-body span.text {
  font-size: 12px;
  margin-left: 10px;
}
.notify-container .media-body span.name, .notify-container .media-body span.notify-text {
  font-size: 12px;
}
.notify-container .media-body span.time {
  font-size: 11px;
}
.notify-content-area {
  line-height: 27px;
}

.menu-dropdown ul {
  margin: 0;
  padding: 0;
}
.client-img-inner {
    float: left;
}
img.img-circle.client-img {
    height: 40px;
    float: left;
}
.user-info-inner span {
  display: block;
}
.user-info-inner span.user-name {
  font-weight: bold;
}
.user-info-inner span.user-role {
  color: #aaa;
}
.menu-dropdown li {
  border-bottom: 1px solid #cfcfcf;  
}
.menu-dropdown li a {
    padding: 10px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
      margin-left: 0 !important;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }
    #sidebar.active.hide-sidebar {
      left: -300px;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }

    #sidebar ul.components {
        padding: 0;
    }
    .my-profile-name {
        margin: 0;
    }
    .page_title i {
      display: none;
    }
}

@media (max-width: 767px) {
  form#language_form {
    text-align: center;
  }
  .btn-group.bootstrap-select.fit-width {
      margin-top: 10px;
  }
}
@media (min-width: 768px) {
  form#language_form {
     display: inline-block;
     margin-top: 8px;
  }
}

@media (min-width: 768px) {
  .branch-area, .sub-branch-area, .sub-sub-branch-area {
    float: left;
  }
}

#message_menu_section li.active {
  color: red;
}

section.form_section {
  clear: both;
}

/* preloader icon start */
div#flash {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#666;
    opacity : 0.4;
    background-repeat : no-repeat;
    background-position : center;
}
#flash img {
    width: 60px;
}
/* preloader icon end */

#add-icon {
    position: relative;
    cursor: pointer;
    display: block;
}
#add-icon span { 
  margin-left: 12px;
}

/* toggle icons collapse start */
.toggle-change-icon #add-icon[aria-expanded="false"]::before, .toggle-change-icon #add-icon[aria-expanded="true"]::before {
    content: '\f067';
    display: block;
    position: absolute;
    left: 12px;
    top: 10px;
    font-family: 'FontAwesome';
    font-size: 13px;
}
.toggle-change-icon #add-icon[aria-expanded="true"]::before {
    content: '\f068';
}
/* toggle icons collapse end */






/* timeline time & date box style start */
.date-wrapper {
    color: #1b1b1b;
    text-align: center;
    margin: 0 0 1em 0;
    padding: 0;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    width: 70px;
    font-weight: 400 !important;
    background: #F5F5F5;
}
.date-wrapper span.date-m {
    color: #ffffff;
    background: #3498DB;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    font-size: 12px;
    text-transform: uppercase;
    width: 100%;
    line-height: 26px;
    display: block;
}
/* timeline time & date box style end */


/* This css is for normalizing styles. You can skip this. */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.table-bg tr th {
    background: #33b5f3;
}

.new {
  padding: 50px;
}

.form-group.ck {
  display: block;
  margin-bottom: 15px;
}

.form-group.ck input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group.ck label {
  position: relative;
  cursor: pointer;
}

.form-group.ck label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group.ck input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


.footer {
    text-align: right;
    background: rgba(255,255,255,.1);
}
.footer p {
    margin: 0;
    color: #ccc;
}
 .dataTables_empty{
        color:olive;
    }


/* form-validation start */
textarea.error,label.error,input.error {
  color:#d02552;
  border-color:#d02552;
}

select.error{
  border-color:#d02552;

}

input.error:focus,select.error:focus,textarea.error:focus{
  outline: none;
  border-color: red;
}
table .error {
  float: left;
}
/* form-validation end */


/* language area start */
.selectpicker li {
    width: 100%;
}
/* language area end */




/*customizing tooltip color*/
/*right tooltip*/
.tooltip.right > .tooltip-arrow {
  border-right-color: dodgerblue;
}

/*bottom tooltip*/
.tooltip.bottom > .tooltip-arrow {
  border-bottom-color: dodgerblue;
}

/*top tooltip*/
.tooltip.top > .tooltip-arrow {
  border-top-color: dodgerblue;
}

/*left tooltip*/
.tooltip.left > .tooltip-arrow {
  border-left-color: dodgerblue;
}

/*tooltip inner*/
.tooltip > .tooltip-inner {
  background-color: dodgerblue;
  text-shadow: 0 1px 1px #000;
  font-weight: normal;
}

@media only screen and (max-width: 768px) and (min-width: 556px)  {
  span#location {
    left: 200px;
  }
}
@media only screen and (max-width: 555px) and (min-width: 340px)  {
  span#location {
    left: 45%;
    top: 45px;
  }
}
@media (max-width: 339px) {
  span#location {
    left: 43%;
        top: 95px;
  }
}

.blinking{
  animation:blinkingText 1s linear infinite;
}
@keyframes blinkingText {
  50% {
    opacity: 0;
  }
}

/* Switch start */
.onoffswitch-small {
    -moz-user-select: none;
    position: relative;
    width: 60px;
}

.onoffswitch-small-checkbox {
    display: none;
}

.onoffswitch-small-label {
    border: 2px solid #999999;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    overflow: hidden;
}

.onoffswitch-small-inner {
    display: block;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    width: 200%;

}

.onoffswitch-small-inner::before, .onoffswitch-small-inner::after {
    box-sizing: border-box;
    color: white;
    display: block;
    float: left;
    font-family: Trebuchet,Arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
    padding: 0;
    width: 50%;
}

.onoffswitch-small-inner::before {
    background-color: #34a7c1;
    color: #ffffff;
    content: "ON";
    padding-left: 9px;
}

.onoffswitch-small-inner::after {
    background-color: #eeeeee;
    color: #999999;
    content: "OFF";
    padding-right: 9px;
    text-align: right;
}

.onoffswitch-small-switch {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #999999;
    border-radius: 10px;
    bottom: 0;
    display: block;
    margin: 3px;
    position: absolute;
    right: 38px;
    top: 0;
    transition: all 0.3s ease-in 0s;
    width: 12px;
}

.onoffswitch-small-checkbox:checked + .onoffswitch-small-label .onoffswitch-small-inner {
    margin-left: 0;
}

.onoffswitch-small-checkbox:checked + .onoffswitch-small-label .onoffswitch-small-switch {
    right: 0;
}
/* Switch end */

/* custom checkbox start */
.custom-checkbox input[type="checkbox"] {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.custom-checkbox label {
  position: relative;
  padding: 0;
}
.custom-checkbox label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 12px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}
.custom-checkbox input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 10px;
  width: 7px;
  height: 16px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/* custom checkbox end */


/* ajax loading start */
#overlay{ 
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(359deg); 
  }
}
.is-hide{
  display:none;
}
/* ajax loading end */